/dist/
/log/
/results/
/tmp_check/
/sql/vector--?.?.?.sql
regression.*
*.o
*.so
*.bc
*.dll
*.dylib
*.obj
*.lib
*.exp
*.swp

pgvector/*.o
pgvetor/src/*.o
pgvector/src/backend/*.o
postgres/*.o
postgres/src/backend/*.o
postgres/src/backend/access/*.o
postgres/src/backend/access/heap/*.o
postgres/src/backend/access/heap/*.o
postgres/src/common/*.a
postgres/src/bin


build.sh
